<div class="container">

  <div class="imgConteiner" *ngIf="loaded">

    <div class="fundo"></div>
    <ion-img class="pokeImg" src={{pokemon?.sprites?.front_default}}></ion-img>

  </div>

  <div class="typeContainer" *ngIf="loaded">

    <div *ngFor="let pokemonType of tipo">
      <ion-img ng class="typeImg" src="../../../assets/icon/{{pokemonType.type.name}}.png"></ion-img>
    </div>

  </div>

  <ion-progress-bar type="indeterminate" *ngIf="!loaded"></ion-progress-bar>

  <ion-card>

    <ion-list *ngIf="!loaded">
      <ion-card-header>
        <ion-card-title>
          Name:
        </ion-card-title>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
      </ion-card-header>

      <ion-item-divider color="tertiary" lines="full">
        <h3>Abilitys:</h3>
      </ion-item-divider>

      <ion-item>
        <ion-thumbnail slot="end">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-card *ngIf="loaded">
    <ion-card-header>
      <ion-card-title>Name:</ion-card-title>
      <ion-card-subtitle>{{ pokemon?.name }}</ion-card-subtitle>
    </ion-card-header>

    <ion-list>

      <ion-item-divider color="tertiary" lines="full">
        <h2>Abilitys:</h2>
      </ion-item-divider>

      <ion-item button *ngFor="let ability of pokemon?.abilities" lines="full" detail="true">
        <ion-label>{{ability?.ability?.name}}</ion-label>
        <ion-icon name="information-circle" slot="end"></ion-icon>
      </ion-item>
    </ion-list>

  </ion-card>
</div>

<div *ngIf="loaded" class="containerButton">

  <ion-button expand="block" color="tertiary" [disabled]="disabled" (click)="backOne()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="goOne()">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</div>
<div *ngIf="!loaded" class="containerButton">

  <ion-button expand="block" color="tertiary" [disabled]="true" (click)="backOne()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <ion-button expand="block" color="tertiary" [disabled]="true" (click)="goOne()">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</div>
