<ion-card *ngIf="loaded">
  <ion-list>
    <ion-card-header>
      <ion-label>
        <h1>Total pokemons currently:</h1>
        <p>{{pokeCout}}</p>
      </ion-label>
    </ion-card-header>

    <ion-item-divider color="tertiary"></ion-item-divider>

    <ion-item button detail="true" lines="none" *ngFor="let pokemon of pokeList" (click)="openPokemon(pokemon.name)">
      <ion-label>
        <h2>{{pokemon.name}}</h2>
      </ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>
    <ion-progress-bar type="indeterminate" *ngIf="loadedMore"></ion-progress-bar>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-card>


<ion-card *ngIf="!loaded">
  <ion-list>
    <ion-card-header>
      <ion-label>
        <h1><ion-skeleton-text animated="true" style="width: 50%;"></ion-skeleton-text></h1>
        <p><ion-skeleton-text animated="true" style="width: 30%;"></ion-skeleton-text></p>
      </ion-label>
    </ion-card-header>

    <ion-item-divider color="tertiary"></ion-item-divider>

    <ion-item detail="true" lines="full">
      <ion-label>
        <h2><ion-skeleton-text animated="true" style="width: 30%;"></ion-skeleton-text></h2>
      </ion-label>
      <ion-thumbnail slot="end"><ion-skeleton-text animated="true"></ion-skeleton-text></ion-thumbnail>
    </ion-item>
    <ion-item detail="true" lines="full">
      <ion-label>
        <h2><ion-skeleton-text animated="true" style="width: 30%;"></ion-skeleton-text></h2>
      </ion-label>
      <ion-thumbnail slot="end"><ion-skeleton-text animated="true"></ion-skeleton-text></ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-card>
